
:root{
    --color-1:#00ccff;
    --color-2:#d92d40;
    --color-main:#000000;
    --color-secondary:#f7ecec;
    --color-supplementary-1:#10bb28;
    --color-supplementary-2:#f5eef5;  
}
.box{
    position: absolute;
    display:inline-block;
    height: 100%;
    width: 50%;    
}
.container.watchContainer{
    margin: 0;
    
    padding: 0;
}
.box.box-1{
    background-color:var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box.box-2 {
    background-color:var(--color-2);
    display: flex;
    margin-left: 50%;
}
.headingName{
    font-size: 4em;
    font-family:'Times New Roman', Times, serif;
}
.vw{
    color:var(--color-supplementary-2);

}
.timeLockScreen {
    display: inline-block;
    font-size: 30px;
    color: var(--color-supplementary-2);
    padding-left: 20px;
    margin: 20px 5px 5px;
}
.timeLockScreen.meridiem{
    font-size: 10px;
    color: var(--color-supplementary-2);
    padding-left:0px;
}
.textNotification{
    color: var(--color-supplementary-1);
    font-size: 12px;
    padding-left: 40px;
    padding-bottom:10px;
}
.header{
    align-content: space-between;
    position: relative;
    
}
.backButton{
    color:blueviolet;
    align-content:flex-start;
    padding-top:-25px;
    font: 15px;
}
.timer{
    color: var(--color-supplementary-2);
    font-size: 15px;
    align-content:flex-end;

}
.smartWatchContainer{
    display: flex;
    align-items: center;
}
.mainScreen{
    position: relative;
    margin-top: -12px;
    border:13px solid var(--color-secondary);
    width: 145px;
    height: 166px;
    background:var(--color-main);
    border-radius: 31px;
}
.mainScreen::after {
    position: absolute;
    content: " ";
    height: 110%;
    width: 100%;
    /* margin: 1%; */
    background-color: var(--color-secondary);
    border-radius: 25px;
    bottom:-155px;
}
.mainScreen::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    /* margin: 1%; */
    background-color: var(--color-secondary);
    border-radius: 25px;
    top:-143px;
}

.backButton{
    color: aqua;
    font-size: 15px;
    padding: 5px;
    margin-left: 4%;
    cursor: pointer;
}
.time{
    color: var(--color-supplementary-2);
    font-size: 15px;
    padding: 5px;
    margin-left: auto;
}
.textTitle{
    font-size: 15px;
    color: var(--color-supplementary-2);
    cursor: pointer;
}
.textDescription{
    font-size: 12px;
    color: var(--color-supplementary-1);
    margin-left: 7px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.removeEllipsis{
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
}
.textBorder {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    padding: 2px;
}
.msgBox{
    height: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 7px;
    color: WHITE;
  }
  

.msgScreen{
    
    position: relative;
    margin-top: -12px;
    border:13px solid var(--color-secondary);
    width: 145px;
    height: 166px;
    background:var(--color-main);
    border-radius: 31px;
}

.screen1 {
    display: block;
    height: 100%;
}
.screen2, .screen3, .screen4{
    display: none;
    position: relative;
    height: 100%;
}
.msgCont{
    margin-bottom: 10px;
    margin-left: 3px;
    border-radius: 8px;
    background-color: #4f54517d;
}

.music{
    /* display:flex; */
    align-content: space-between;
    width:50px;
    /* position: absolute; */
    height: 50px;
    color: #da17cd;
    padding: 1px;
    /* margin-left: 25px;
    margin-bottom:5px; */
}
.envelope{
    /* display:flex; */
    align-content: space-between;
    width:50px;
    /* position:absolute; */
    height: 50px;
    color: #14dc66;
    /* padding: 1px;
    margin-left: 60px;
    margin-bottom:5px;
 */
}


.clock{
    /* display:flex; */
    align-content: space-between;
    width:50px;
    height: 50px;
    color: #b7b7c5;
    /* padding: 1px; */
    /* margin-left:95px; */
}

.icon{
    display:flex;
    /* align-content: space-between; */
    margin-left: 7px;
}
.spotify{
    position: absolute;
    width: 115px;
    height: 70%;
    overflow-x: scroll;
    overflow-y: scroll;
    border-radius: 15px;
}